@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
  }

  body {
	width: 100%;
	height: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: bold;
	position: relative;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 5%;
	margin: auto;
	background: white;
	border-radius: 15px;
	width: 84%;
	position: sticky;
	top: 0;
	z-index: 100;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	
}

.nav-left, .nav-right{
	display: block;
	align-items: center;
}

.nav-left .imp-links{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.nav-mid .imp-links{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.imp-links a{
	text-decoration: none;
}

.logo{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	transform: translateX(-50px);
	width: 130px;
	height: 50px;
	color: #93C7FF;	
	border-radius: 8px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 180px;
}


.table-daftar1 {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	margin-left: 20px;
	width: 170px;
	height: 50px;
	color: #93C7FF;	
	background: white;
	border-radius: 8px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
  	transition: 0.3s;
	position: relative;
	-webkit-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
}

.table-daftar {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	margin-left: 20px;
	width: 170px;
	height: 50px;
	color: #93C7FF;	
	background: white;
	border-radius: 8px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
  	transition: 0.3s;
	position: relative;
	-webkit-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
}

.table-daftar img{
	position: absolute;

}

.table-daftar .icon-beranda:hover{
	opacity: 0;		
}

.table-daftar:hover{
	background: #DBEAFE;
	color: #007AFF;
}



.nav-right .search-box{
	background: #F5FAFF;
	width: 250px;
	display: flex;
	align-items: center;
	padding: 0 15px;
	border-radius: 20px;
}

.search-box input{
	width: 100%;
	background: transparent;
	padding: 10px;
	outline: none;
	border: 0;
}


.container{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

.container .left-sidebar{
	background: white;
	flex-basis: 35%;
	position: sticky;
	top: 100px;
	align-self: flex-start;
}

.daftar-simpan {
    display: flex;
    justify-content: right;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

h1{
	margin-left: 25px;
	/* top: -auto; */
}


.table2 {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 378px;
	height: auto;
	border: #29384E;
    border-radius: 15px 15px 15px 15px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;  
	margin: 20px;  
	margin-top: 30px;

}


.table-daftar-simpan {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

	width: 360px;
	height: 50px;
	border-radius: 8px;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}


.kosong{
	
	font-weight: 400;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	font-size: 15px;
	width: 360px;
	height: 50px;
	
	font-family: 'Quicksand', sans-serif;
	/* Biru Penekanan Muda */
	background: white;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.kosongk{
	color: #29384E;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	font-size: 15px;
	width: 360px;
	height: 50px;
	
	font-family: 'Quicksand', sans-serif;
	/* Biru Penekanan Muda */
	background: white;

	/* Inside auto layout */
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.linkk{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-weight: normal;
	color: #FF9800;
	width: 200px;
	height: 50px;
	font-size: 16px;
}

.loci{
	width: 500px;
	font-weight: 600;
	transform: translateX(-10px);
}

.main-sidebar{
	position: relative;
	width: 100%;
    height: auto;
    border-radius: 15px 15px 15px 15px;
}

a{
	text-decoration: none;
	color: black;
}

.line{
	align-items: center;
	margin-top: 15px;
	margin-left: 25px;
	width: 1000px;
	border: 0.1px solid #D1D5DB;
}

.line1{
	align-items: center;
	margin-top: 15px;
	margin-left: 20px;
	width: 775px;
	border: 0.1px solid #D1D5DB;
}

.tulisan-sett{
	display: flex;
	margin-left: 25px;
}

.left{
	margin-top: 10px;
	height: auto;
	width: 200px;
}

.left h3{
	margin: 10px;
	font-size: 15px;
}

.right{
	height: auto;
	width: 650px;
}

.listan{
	margin: 20px;
	height: auto;
	width: auto;
}

.listan h3{
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
}

.listan h5{
	font-size: 13px;
	margin-bottom: 10px;
	font-weight: lighter;
}

.listan1{
	margin: 20px;
	height: auto;
	width: auto;
	display: flex;
}

.listan1 h3{
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: normal;
}

.listan1 .edit{
	color: #007AFF;
}