* {
	  margin: 0;
	  padding: 0;
	  font-family:'Quicksand';
    font-weight: bold;
    text-decoration: none;
  }
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}
  @media only screen and (min-width: 768px) {
	/* Atur tata letak atau gaya khusus untuk tampilan desktop */
  
  }
  
  /* Gaya untuk tampilan tablet */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
	/* Atur tata letak atau gaya khusus untuk tampilan tablet */
  }
  
  /* Gaya untuk tampilan ponsel */
  @media only screen and (max-width: 480px) {
	/* Atur tata letak atau gaya khusus untuk tampilan ponsel */
  }
  .wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
.logo {
    display: flex;
color: #007AFF;
width: 25px;
align-items: center;
font-size: 25px;
height: 25px;
float: left;
padding-top: 25px;
padding-left: 50px;
}

.menu {
	align-items: center;
  justify-content: right;
  margin-left: 10px;
  margin-top: 10px;
  gap: 10px;
  padding-right: 20px;
}
.daftar {
  background-color: #005cf0;
	/* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}